
.root{
    -fx-background-color: #262626;
}

.tree-table-view{
    -fx-background-color: transparent;
}

.tree-table-view:focused{
    -fx-background-color: transparent;
}


/*.tree-table-view .column-header-background{
    -fx-background-color: linear-gradient(#131313 0%, ##66CC66 100%);
}*/
/*
.tree-table-view .column-header-background .label{
    -fx-background-color: #66CC99;
    -fx-text-fill: black;
}*/

.tree-table-view .column-header {
    -fx-background-color: transparent;
}

.tree-table-view .table-cell{
    -fx-text-fill: Black;
}

.tree-table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #F5F5F5;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.tree-table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #E0E0E0;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */  
}

.tree-table-row-cell:selected {
    -fx-background-color: #66CC66;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.tree-table-view > .virtual-flow > .scroll-bar:vertical,
.tree-table-view > .virtual-flow > .scroll-bar:vertical > .track,
.tree-table-view > .virtual-flow > .scroll-bar:vertical > .track-background, 
.tree-table-view > .virtual-flow > .scroll-bar:horizontal,
.tree-table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.tree-table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}



.tree-table-view > .virtual-flow > .scroll-bar > .increment-button, 
.tree-table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}